<?xml version="1.0"?>
<!--
Variables to update
     #{path} - root path to application (using "\" not "/", and without trailing slash)
     #{host} - host of the application
     #{cookie_domain} - domain for cookies. will usually be same as host, but in dev machine we will usually use an empty string (e.g. .uship.com)
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Veriplace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!--
        RED-1073 - Matthew de Anda - 07/14/11
        Uncomment if you want NLog to run locally, must also uncomment the
        factory adapter defined in common section group below. -->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

    <section name="dataCacheClient"
             type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, 
                       Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, 
                       Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             allowLocation="true"
             allowDefinition="Everywhere"/>
    <section name="combres" type="Combres.ConfigSectionSetting, Combres, Version=2.2, Culture=neutral, PublicKeyToken=1ca6b37997dd7536" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <dataCacheClient>
    <hosts>
      <host name="appfab-dev" cachePort="22233"/>
    </hosts>
    <securityProperties mode="None" protectionLevel="None"></securityProperties>
  </dataCacheClient>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SettingsFile" value="/Configuration/uShip.Config"/>
    <add key="TempFileDirectory" value="E:\Emails\Carrierwatch\"/>
    <add key="SMTPPickupDirectory" value="C:\temp\"/>
    <add key="SMTPPickupDirectoryTest" value="C:\temp\"/>
    <add key="ABCPDFUsername" value="Administrator"/>
    <add key="ABCPDFPassword" value="1d3pdn"/>
    <add key="RSSDirectory" value="#{path}\rss\"/>
    <add key="DOTM" value="6742"/>
    <add key="AuthCookieDomain" value="#{cookie_domain}"/>
    <add key="SecureURL" value="https://#{host}/"/>
    <add key="SiteURL" value="http://#{host}/"/>
    <add key="SitePath" value="#{path}\"/>
    <add key="UploadURL" value="http://#{host}/static/"/>
    <add key="UploadURL2" value="http://resourcesdev.uship.com" />
    <add key="UploadPath" value="#{path}\static"/>
    <add key="GeoFile" value="#{path}\Config\GeoIP.dat"/>
    <add key="MailServer" value="mail.id3solutions.com"/>
    <add key="AdminEmail" value="service@uship.com"/>
    <add key="ViolationEmail" value="nick@id3solutions.com"/>
    <add key="TransactionFee" value=".079"/>
    <add key="ErrorLogFile" value="~/config/ErrorLog.txt"/>
    <add key="AuthorizeNetLogin" value="usllc78704"/>
    <add key="AuthorizeNetTransactionKey" value="uClgQbCyLwP79O4f"/>
    <add key="AuthorizeNetURL" value="https://secure.authorize.net/gateway/transact.dll"/>
    <add key="AuthorizeNetTest" value="False"/>
    <add key="InstantForum_AppName" value="uShip Forum"/>
    <!-- Connection string for your database -->
    <add key="InstantForum_DSN" value="server=bandersnatch;database=Integration;uid=uship;pwd=1d3db1;"/>
    <!-- fully qualified URL to the forum front-end -->
    <add key="InstantForum_URL" value="http://dev.uship.com/forum/"/>
    <!-- fully qualified URL to the forum administration directory -->
    <add key="InstantForum_AdminURL" value="http://dev.uship.com/forum/admin/"/>
    <!-- full physical path to the application directory on your server -->
    <add key="InstantForum_AppPath" value="C:\Inetpub\wwwroot2\www.uship.com\wwwdev\forum\"/>
    <!-- fully qualified URL to the forums attachment directory -->
    <add key="InstantForum_AttachmentURL" value="http://dev.uship.com/forum/attachments/"/>
    <!-- full physical path to the attachments directory on your server -->
    <add key="InstantForum_AttachmentPath" value="C:\Inetpub\wwwroot2\www.uship.com\wwwdev\forum\attachments\"/>
    <!-- fully qualified URL to the forums style sheet -->
    <add key="InstantForum_Skin" value="http://dev.uship.com/forum/skins/classic.css"/>
    <!-- SMTP server used to send application emails - leave blank to use localhost -->
    <add key="InstantForum_SMTPServer" value="mail.uship.com"/>
    <!-- Email address for application email notifications -->
    <add key="InstantForum_EmailAddress" value="forums@uship.com"/>
    <!-- Number of characters within forum titles before truncation  -->
    <add key="InstantForum_MaxSubjectLen" value="80"/>
    <!-- Boolean value allowing you to disable all application emails -->
    <add key="InstantForum_EnableApplicationEmails" value="True"/>
    <!--WebService keys-->
    <add key="wsallowedtokens" value=""/>
    <add key="wsblockedtokens" value=""/>
    <add key="wssllowedip" value=""/>
    <add key="wsblockedip" value=""/>
    <add key="xsdpath" value="E:\uShip.com\wwwroot\webservices\latest\xsdpath\"/>
    <add key="PathLogFiles" value="#{path}\WebServices\log\" />
    <add key="PathStaticFiles" value="#{path}\" />
    <add key="StickyVersion" value="1"/>

    <!--For Google Analytics-->
    <add key="GoogleApiKey" value="ABQIAAAAhqaRVSxhtSuzWSB5cEp07RTPQBQF8QiGhCoIhZoBABsu0Z0dNxSb7kr35lyX5CDcRIdD44BU56s4yQ"/>
    <add key="ProductStage" value="Dev"/>
    <add key="DevAnalyticsKey" value="UA-215948-4"/>
    <add key="StagingAnalyticsKey" value=""/>
    <add key="ProductionAnalyticsKey" value=""/>
    <add key="SecureAnalyticsURL" value="https://ssl.google-analytics.com/urchin.js"/>
    <add key="NonSecureAnalyticsURL" value="http://www.google-analytics.com/urchin.js"/>
    <add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;" />
    <add key="uShipServiceURL" value="http://servicedev.uship.com"/>
    <add key="uShipAPITOken" value="6180358D0209466E95C602FA" />
  </appSettings>
  <!--
    RED-1073 - Matthew de Anda - 07/14/11
    Uncomment if you want NLog to run locally, must also uncomment the
    declaration of the section group, common, above. -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/Configuration/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="ExceptionLogAppender" type="uShip.Logging.Appender.ExceptionLogAppender">
      <baseDirectory value="C:\temp\Log" />
    </appender>
    <appender name="LogstashAppender" type="uShip.Logging.Appender.LogstashAppender">
      <remoteAddress value="logging-dev" />
      <remotePort value="9997" />
      <encoding value="utf-8"/>
    </appender>
    <appender name="LogstashHighVolumeAppender" type="uShip.Logging.Appender.LogstashAppender">
      <remoteAddress value="logging-dev" />
      <remotePort value="9992" />
      <encoding value="utf-8"/>
    </appender>
    <logger name="uShip">
      <level value="ALL" />
      <appender-ref ref="LogstashAppender"/>
      <appender-ref ref="ExceptionLogAppender"/>
    </logger>
    <logger name="HighVolume">
      <level value="ALL" />
      <appender-ref ref="LogstashHighVolumeAppender"/>
    </logger>
    <logger name="Graphite">
      <level value="ALL" />
    </logger>
    <logger name="NHibernate">
      <level value="WARN" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="WARN" />
    </logger>
  </log4net>
  <combres definitionUrl="~/Config/combres.xml"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.3.0" newVersion="3.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.4448.22541" newVersion="1.6.4448.22541" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.12.4448.22555" newVersion="1.12.4448.22555" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.143" newVersion="3.1.4.143" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Magnum" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.84.4790.14405" newVersion="4.84.4790.14405" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="StandardPublic" enabled="true" duration="360" varyByCustom="LoggedIn" location="Any" varyByParam="siteID" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpCookies httpOnlyCookies="true" domain="#{cookie_domain}" />
    <webServices>
      <soapExtensionTypes>
        <!--<add type="id3Solutions.UShip.Web.Modules.UnhandledExceptionSoapExtension, id3Solutions.UShip" priority="1" group="High" />-->
      </soapExtensionTypes>
    </webServices>
    <pages>
      <controls>
        <!-- built in ASP control namespace (prevents weird WebParts designer file issue) -->
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"  />
        <!-- custom control namespaces -->
        <add tagPrefix="x" namespace="id3Solutions" assembly="id3Solutions.UShip" />
        <add tagPrefix="ui" namespace="id3Solutions.UShip.Web.UI.Controls" assembly="id3Solutions.UShip" />

        <!-- user controls that are used a lot -->
        <add tagPrefix="form" tagName="List" src="~/UI/UserControls/Forms/List.ascx" />
        <add tagPrefix="form" tagName="Register" src="~/UI/UserControls/Forms/Register.ascx"/>
        <add tagPrefix="form" tagName="PriceEstimator" src="~/UI/UserControls/Forms/PriceEstimator.ascx" />
      </controls>
    </pages>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
        -->
    <compilation defaultLanguage="vb" debug="true" batch="false" targetFramework="4.5"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
        -->
    <customErrors mode="Off" defaultRedirect="/ErrorPages/en/error.html" />

    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
        -->
    <authentication mode="Forms">
      <forms name="uShipTicket" protection="All" path="/"/>
    </authentication>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
        -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--	<allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
        -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
        -->

    <!--		<sessionState mode="InProc" -->
    <!--                  stateConnectionString="tcpip=127.0.0.1:42424" -->
    <!--                  sqlConnectionString="data source=127.0.0.1;user id=sa;password=" -->
    <!--                  cookieless="false" -->
    <!--                  timeout="20"/>-->

    <sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider">
      <providers>
        <add name="AppFabricCacheSessionStoreProvider"
             type="Microsoft.ApplicationServer.Caching.DataCacheSessionStoreProvider"
             cacheName="default"
             sharedId="localEnvironment" />
      </providers>
    </sessionState>

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
        -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpRuntime targetFramework="4.5" executionTimeout="800" maxRequestLength="20480" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" requestValidationMode="2.0" />
    <machineKey validationKey="5B014B7DF18FEB5F2BA22869EEC9B1346289B223818812800E2A73DA7892FFC39BB45C53C834BD7DD3F349C418D4928831BA557D8E400051A3177C08387AC6E0" decryptionKey="49FA4E50173FCDE32E8ECC9DF2018713CA62DF3B4D07919D" validation="SHA1" decryption="3DES"/>
    <xhtmlConformance mode="Legacy" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1"/>
    <bindings>
      <basicHttpBinding>
        <binding name="RTFLoadPostClientSoap" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="LoadPosting" closeTimeout="00:01:00"
           openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
           allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
           maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
           messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
           useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BanyanWS" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1073741824" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="1073741824" maxArrayLength="1073741824"
              maxBytesPerRead="4096" maxNameTableCharCount="1073741824" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="QuoteRequestProviderSoap" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IDDRService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PcMilerMappingRouteProviderSoap" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IRouteService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="9000000" maxBufferPoolSize="524288" maxReceivedMessageSize="9000000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IGeocodeService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
          maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="uShipsvcSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DasRateServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IData" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Marketplace" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CRSWebServiceImplPortBinding" />
        <binding name="RateQuoteSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IShipmentLiteService" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="1073741824" maxArrayLength="1073741824" maxBytesPerRead="4096" maxNameTableCharCount="1073741824" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://support.resultsetinc.com:8003/RTFLoadPostWebservice/RTFLoadPost.asmx"
          binding="basicHttpBinding" bindingConfiguration="RTFLoadPostClientSoap"
          contract="RealTimeFreightWS.RTFLoadPostClientSoap" name="RTFLoadPostClientSoap" />
      <endpoint address="http://testws.truckstop.com:8080/V13/Posting/LoadPosting.svc"
             binding="basicHttpBinding" bindingConfiguration="LoadPosting"
             contract="ItsService.ILoadPosting" name="LoadPosting" />
      <endpoint address="http://ws.staging.banyantechnology.com/services/loadfunctions.asmx"
        binding="basicHttpBinding" bindingConfiguration="BanyanWS"
        contract="BanyanWS.LoadFunctionsSoap"
        name="BanyanWS" />
      <endpoint address="http://servicedev.uship.com/QuoteRequestProvider.asmx"
          binding="basicHttpBinding" bindingConfiguration="QuoteRequestProviderSoap"
          contract="uShipEbayAPI.QuoteRequestProviderSoap"
          name="QuoteRequestProviderSoap" />
      <endpoint address="https://auctiondata.iaai.com/Service.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDDRService"
          contract="com.iaai.auctiondata.IDDRService" name="BasicHttpBinding_IDDRService" />
      <endpoint address="http://pcmws.alk.com/service.asmx" binding="basicHttpBinding"
          bindingConfiguration="PcMilerMappingRouteProviderSoap" contract="com.alk.pcmws.Service"
          name="PcMilerMappingRouteProviderSoap" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteService"
          contract="com.virtualearth.routeservice.IRouteService" name="BasicHttpBinding_IRouteService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService"
          contract="com.virtualearth.geocodeservice.IGeocodeService"
          name="BasicHttpBinding_IGeocodeService" />
      <endpoint address="http://pcmwwws.alk.com/service.asmx" binding="basicHttpBinding"
          bindingConfiguration="ServiceSoap" contract="com.alk.pcmwwws.ServiceSoap"
          name="ServiceSoap" />
      <endpoint address="http://dev.uship.com/webservices/latest/uShipsvc.asmx"
          binding="basicHttpBinding" bindingConfiguration="uShipsvcSoap"
          contract="com.ushipapi.webservices.uShipsvcSoap" name="uShipsvcSoap" />
      <endpoint address="http://quote.dasautoshippers.com/ws_das_rate/dasrateservice.asmx"
          binding="basicHttpBinding" bindingConfiguration="DasRateServiceSoap"
          contract="DasRateService.DasRateServiceSoap" name="DasRateServiceSoap" />
      <endpoint address="http://api.localhost.com/Data.svc" binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_IData" contract="uShipApi.Data.IData"
                      name="BasicHttpBinding_IData" />
      <endpoint address="http://api.localhost.com/Marketplace.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Marketplace"
          contract="uShipApi.Marketplace.Marketplace" name="BasicHttpBinding_Marketplace" />
      <endpoint address="http://api.wantfacts.com:8080/crsapi/crsapi"
                    binding="basicHttpBinding" bindingConfiguration="CRSWebServiceImplPortBinding"
                    contract="WantFactsWS.CRSWebServiceImpl" name="CRSWebServiceImplPort" />
      <endpoint address="https://webservices.rrts.com/rating/ratequote.asmx" binding="basicHttpBinding" bindingConfiguration="RateQuoteSoap" contract="RoadRunnerRateService.RateQuoteSoap" name="RateQuoteSoap" />
      <endpoint address="https://saastransportation.com:4433/Services/Wcf/ShipmentLiteService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipmentLiteService" contract="SaasShipmentLite.IShipmentLiteService" name="BasicHttpBinding_IShipmentLiteService"  />
    </client>
  </system.serviceModel>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false"/>
    </settings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
    <handlers>
      <add name="cachedimageservice.axd" verb="GET" path="cachedimageservice.axd" type="MsdnMag.CachedImageService,DynamicImage"/>
      <add name="ajaxpro/*.ashx" verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>
      <add name="FtbWebResource.axd" verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox"/>
      <add name="ChartAxd.axd" path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" />
      <add name="profile.ashx" verb="*" path="profile.ashx" type="id3Solutions.UShip.Web.Handlers.ProfileHandler,id3Solutions.UShip" />
      <add name="UrlRouting.axd" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="jstLocStringsHandler.axd" verb="GET" path="jstLocStringsHandler.axd" type="id3Solutions.UShip.Web.Handlers.jstLocStringsHandler,id3Solutions.UShip"/>
      <add name="sticky.ashx" verb="GET" path="sticky.ashx" type="id3Solutions.UShip.Web.Handlers.StickyHandler,id3Solutions.UShip" />
      <add name="html.ashx" verb="*" path="html.ashx" type="id3Solutions.UShip.Web.Handlers.HtmlHandler,id3Solutions.UShip" />
    </handlers>
    <validation validateIntegratedModeConfiguration="true"/>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
</configuration>